 {% load staticfiles %}
 <html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<title>TZ Cezar</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="fortext">
    <form method="POST" action="">
        {% csrf_token %}
		<textarea  id="pol" type="text" name="original">{{ deshifr }}</textarea>
		<input type="number" id="step" name="step" value="0">
		<input type="submit" id="sub" value="shifr" name="shifr">
		<input type="submit" id="sub1" value="deshifr" name="shifr">
		<textarea type="text" id="pol1" name="shifr_text" readonly>{{ shifr }}</textarea>
        </form>
	</div>


 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
	google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = google.visualization.arrayToDataTable([
        ['', 'length',],

			{% for obj in answer %}
				['{{obj.letter}}', {{obj.count}}],
			{% endfor %}
      ]);

      var options = {
        title: 'Частота символов встречающихся в зашифрованном тексте',
        chartArea: {width: '50%',
        			height: '70%'},
        hAxis: {
          minValue: 0
        }

      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
</script>
  <div id="chart_div"></div>
</body>
</html>