 {% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TZ Cezar</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="fortext">
    <form method="POST" action="">
        {% csrf_token %}
		<textarea  id="pol" type="text" name="original">{{ deshifr }}</textarea>
		<input type="number" id="step" name="step" value="0">
		<input type="submit" id="sub" value="shifr" name="shifr">
		<input type="submit" id="sub1" value="deshifr" name="shifr">
		<textarea type="text" id="pol1" name="shifr_text" readonly>{{ shifr }}</textarea>
        </form>
	</div>
</body>
</html>